html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bungee Spice", cursive;
  font-size: 62.5%; /*100% is 16px, but we want the size to be 10px */
  background-color: teal;
}

#Header {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 10rem;
}

.Nina{
  box-shadow: 1rem 0.5rem 0.5rem black;
  width: 25vw;
  margin-bottom: 10rem;
  transition: 0.3s;
  z-index: 1;
  
  }

.Parent {
display: flex;
flex-wrap:wrap;
align-items: center;
justify-content: space-around;
}

.Parent:hover .Nina:not(:hover)
{
    transform:scale(0.8) ;
    opacity: 0.3;
}

.Parent:hover {
    outline: 1rem;
    outline-offset: 1rem black;
}
