html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bungee Spice", cursive;
  font-size: 62.5%; /*100% is 16px, but we want the size to be 10px */
  background-color: teal;
}

#Header {
  text-align: center;
  font-size: 10rem;
}

.breaktag {
  margin: 0 auto 10rem;
}

.animation {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  animation: underline 3s infinite;
  position: absolute;
}

@media only screen and (min-width: 390px) and (max-width: 833px) {
  #Header {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 834px) and (max-width: 1194px) {
  #Header {
    font-size: 7rem;
  }
}

@keyframes underline {
  0% {
    left: 60vw;
    right: 40vw;
    background-color: black;
  }
  50% {
    right: 60vw;
    left: 40vw;
    background-color: black;
  }
  100% {
    left: 60vw;
    right: 40vw;
    background-color: black;
  }
}

.Nina {
  box-shadow: 1rem 0.5rem 0.5rem black;
  width: 25vw;
  margin-bottom: 10rem;
  transition: all 0.3s;
}

.Parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Parent:hover .Nina:not(:hover) {
  transform: scale(0.9);
  opacity: 0.3;
}

.Nina:hover {
  transform: scale(1.1);
}

#img-1:hover {
  border: solid blue;
  box-shadow: none;
}

#img-2:hover {
  margin-top: 3rem;
}

#img-3:hover {
  transform: rotate(360deg);
}

#img-4:hover {
  box-shadow: 1rem 0.5rem 0.5rem purple;
}

#img-5:hover {
  outline: 1rem solid green;
}

#img-6:hover {
  transform: scale(2) rotate(360deg);
  transition: all 1s ease-in-out 0s;
}

#img-7:hover {
  box-shadow: none;
}

#img-9:hover{
  opacity: 0.1;
}
