html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bungee Spice", cursive;
  font-size: 62.5%;
  background-color: teal;
}

#Header {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 10rem;
}

.Nina {
  box-shadow: 1rem 0.5rem 0.5rem black;
  width: 25vw;
  }

.parent {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
margin-bottom: 10rem;
}